@charset "UTF-8";

#poster {
	margin: 5px 10px 5px 10px;
	border: solid 1px rgb(174, 155, 79);
	padding: 15px;
	background: rgb(240, 235, 219);
}

#poster textarea {
	border: solid 1px rgb(174, 155, 79);
	padding: 5px;
	margin: 5px;
	width: 80%;
	height: 300px;
}

#poster select {
	border: solid 1px rgb(174, 155, 79);
	width: 60px;
}

#poster input[type="submit"] {
	border-radius: 15%;
	background: rgb(0, 0, 0);
	paddding: 10px;
	color: rgb(174, 155, 79);
	height: 30px;
	width: 50px;
	margin: 5px;
}